.mp4
logs/
models/checkpoints
neural_gaffer_3d_relighting/3d_logs
3d_relighting_data
prepocessed_3d_relighting_data
remove_data.ipynb
__pycache__/
*.py[cod]
*$py.class
wandb/
preprocessed_lighting_data/
.gitignore
real_data_relighting/
difareli++/envmap2sh/*.mp4
difareli++/input_subject/
difareli++/decaSH_to_envmaps/

preprocessed_data/
mylight/
difareli++_rotate_lighting/
mylight_rotate/
difareli++/envmap2sh/varied_Lmax/
difareli++/results_tmp/
difareli++/tmp/